{% extends 'base.html.twig' %}

{% block title %}Les habitats | Zoo de Brocéliande{% endblock %}

{% block body %}

<div class="circle">
    <img src="{{ asset('images/animal/tiger.jpg')}}" alt="" class=" resize-img medium-circle">
</div>

<div class="circle">
    <img src="{{ asset('images/animal/tiger.jpg')}}" alt="" class=" resize-img medium-circle">
</div>

<div class="circle">
    <img src="{{ asset('images/animal/tiger.jpg')}}" alt="" class=" resize-img medium-circle">
</div>

<div class="circle">
    <img src="{{ asset('images/animal/tiger.jpg')}}" alt="" class=" resize-img medium-circle">
</div>

{% endblock %}
