{% extends 'base.html.twig' %}

{% block title %}Les habitats | Zoo de Brocéliande{% endblock %}

{% block body %}

<h1 class="large-font englebert-regular blue text-center">Exploration des Écosystèmes</h1>
<div class="d-flex justify-content-center m-5">
    <p class="small-font text-center ms-5 me-5 fst-italic">Découvrez les habitats fascinants de notre zoo, où chaque espace recrée minutieusement les écosystèmes naturels pour offrir à nos animaux un environnement confortable et authentique.</p>
</div>
<div class="blue-separator"></div>

<div>
    <img src="{{ asset('images/habitat/jungle.jpg')}}" alt="" class="medium-circle">
    <p>Plongez dans la verdure luxuriante de notre forêt tropicale, où des singes espiègles, des paresseux paisibles et des oiseaux colorés cohabitent parmi des arbres imposants et une végétation dense. Ressentez l'humidité et la chaleur de ce microcosme vivant, riche en biodiversité.</p>
    <a href="" class="btn btn-blue">Je découvre les animaux de cet habitat</a>
</div>

<div>
    <img src="{{ asset('images/habitat/forest.jpg')}}" alt="" class="medium-circle">
</div>


{% endblock %}
