{# Habitat #}
<section class="habitat-section m-5">
    <div class="large-circle hidden m-5">
        <a href="#">
            <img class="large-img habitat-img" src="{{ asset('images/animal/lion.jpg') }}" alt="">
        </a>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="large-font englebert-regular">Les merveilleux habitats</h2>
        <p class="small-font">Découvrez les divers habitats et les animaux qui y vivent</p>
        <a href="{{ path('app_habitat')}}" class="btn btn-green">Je découvre les habitats ></a>
    </div>
</section>