{# Habitat #}
<section class="habitat-section">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="medium-large-font englebert-regular text-white text-center mt-5">Les merveilleux habitats</h2>
        <p class="small-font text-white text-center m-2 ms-5 me-5">Explorez la diversité des habitats naturels et découvrez les nombreuses espèces animales qui les peuplent.</p>
    </div>
    
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
        {% for habitat in habitats %}
            <div class="col-lg-4 col-md-12 m-3 {% if loop.first %} visible {% else %} hidden {% endif %}">
                <div class="rectangle-container d-flex justify-content-center">
                    <img src="{{ asset(vich_uploader_asset(habitat)) }}" alt="{{ habitat.imageName }}">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="{{ path('app_habitat')}}" class="btn btn-yellow mb-5">Je découvre les habitats ></a>
    </div>
</section>