
{# Side panel#}
<section>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h3 class="medium-font light-blue text-center englebert-regular m-3">Tous les avis</h3>
        <div class="lightblue-separator"></div>
        {% for review in reviews|reverse %}
            <div class="m-3">
                <p class="small-font text-center">"{{review.comment}}"</p>
                <p class="smaller-font fst-italic text-center">~ {{review.pseudo}} le {{review.date|date("d/m/Y", "Europe/Paris")}} ~</p>
                <div class="blue-separator"></div>
            </div>
        {% endfor %}
    </div>
</section>