{% extends 'base.html.twig' %}

{% block title %}Parc Zoologique - Zoo Brocéliande !{% endblock %}

{% block body %}

<div class="hero">
    <img src="{{ asset('images/hero.jpg') }}"  class="hero-image" alt="hero image"> 
        <div class="hero-content">
            Venez visiter le zoo !!
        </div>
</div>

<h1>Visite guidée du Zoo</h1>

{% endblock %}
