{% extends 'base.html.twig' %}

{% block title %}Parc Zoologique - Zoo Brocéliande !{% endblock %}

{% block body %}

<header class="hero">
    <img src="{{ asset('images/hero/hero.jpg') }}"  class="hero-image" alt="hero image"> 
        <div class="hero-content raleway large-font">
            Offrez vous une visite inoubiable
        </div>
</header>

{# Habitat #}
<section class="habitat-section m-5">
    <div class="large-circle hidden m-5">
            <a href="#">
                <img class="resize-img habitat-img" src="{{ asset('images/animal/lion.jpg') }}" alt="">
            </a>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="large-font raleway">Les merveilleux habitats</h2>
        <p>Découvrez les divers habitats et les animaux qui y vivent</p>
        <a href="{{ path('app_habitat')}}" class="btn btn-blue">Je découvre les habitats ></a>
    </div>
</section>

{# Service #}
<section class="service-section">
    <h2 class="large-font raleway text-center text-white">Services & Activités</h2>
    <p class="text-white text-center medium-font my-5">Laissez-vous guider à travers nos diverses activités et découvrez nos nombreux services de restauration.</p>
    <div class="owl-carousel owl-theme d-flex">
        <div class="item hover-translate">
            <div class="polygon m-2">
                <img class="resize-img habitat-img" src="{{ asset('images/animal/lion.jpg') }}" alt="">
            </div>
            <p class="text-white text-center small-font">RESTAURATION</p>
            <p class="text-white text-center medium-font raleway fw-bold">Nos différents restaurants</p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <p class="large-font yellow raleway text-center">Explorez tous nos services fabuleux ici!</p>
        <a href="#" class="btn btn-yellow">Je découvre les services ></a>
    </div>

</section>



<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=broc%C3%A9liande%20foret&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://embedgooglemap.net/124/">123movies borat</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">google maps embed</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>

<script>
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                autoplaySpeed: 1000,
                nav: false,
                smartSpeed: 1000,
                responsive: {
                    0: {
                        items: 1
                    },
                    992: {
                        items: 1.5
                    },
                    1200: {
                        items: 2.5
                    }
                }
            });
        });
</script>
{% endblock %}
