{% for service in services %}
<div class="col-lg-6 col-md-12 mt-5 d-flex justify-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 mt-2">
                <div class="card">
                    <img src="{{ asset(vich_uploader_asset(service)) }}" alt="{{ service.imageName }}" class="card-img">
                </div> 
            </div>

            <div class="col-lg-6 col-md-8 mt-2">
                <div>
                    <h2 class="yellow englebert-regular text-center fw-bold">{{ service.name }}</h2>
                    <p class="text-white small-font">{{ service.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}