{% extends 'base.html.twig' %}

{% block title %}Les services | Zoo de Brocéliande{% endblock %}

{% block body %}

<h1 class="large-font englebert-regular yellow text-center">Tous nos services</h1>
<div class="yellow-separator mb-5"></div>

<div class="container">

    {% for service in services %}
    <div class="card-service">
        <div class="card-image-service">
            <img src="{{ asset(vich_uploader_asset(service)) }}" alt="{{ service.imageName }}">
        </div>
        
        <div class="card-text">
        <p class="card-category fst-italic yellow">Activité</p>
            <h2 class="card-title fst-italic">{{ service.name }}</h2>
            <p class="card-body">{{ service.description }}</p>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
