{% extends 'base.html.twig' %}

{% block title %}Les services | Zoo de Brocéliande{% endblock %}

{% block body %}

<h1 class="large-font englebert-regular yellow text-center">Tous nos services</h1>
<div class="yellow-separator mb-5"></div>

<div class="container">
    <div class="card-service">
        <div class="card-image-service">
            <img src="{{ asset('images/service/guide.jpg') }}" alt"guide">
        </div>
    
        <div class="card-text">
            <h2 class="card-title fst-italic">Visite gratuite du parc</h2>
            <p class="card-body">Nos guides experts au Zoo de Brocéliande vous offrent des visites éducatives et captivantes, partageant des anecdotes fascinantes sur les animaux. Ils vous informent sur les comportements et habitats des espèces et répondent à vos questions, tout en sensibilisant à la conservation de la faune. Une expérience enrichissante pour tous les âges !</p>
        </div>
    </div>
</div>

{% endblock %}
