{% extends 'base.html.twig' %}

{% block title %}Parc Zoologique - Arcadia Zoo{% endblock %}

{% block body %}

<header class="hero">
    <img src="{{ asset('images/hero/hero.jpg') }}"  class="hero-image" alt="hero image"> 
        <div class="hero-content raleway hero-font">
            Offrez vous une visite inoubliable
        </div>
</header>
{% include 'home/_carousel.html.twig' %}
{% include 'home/_habitat.html.twig' %}
{% include 'home/_animal.html.twig' %}
{% include 'home/_service.html.twig' %}
{% include 'home/_lastreview.html.twig' %}
{% include 'home/_sidepanel.html.twig' %}

<script src=" {{ asset('/assets/js/owlcarousel.js') }}"></script>
<script src=" {{ asset('/assets/js/sidepanel.js') }}"></script>
{% endblock %}
