{% extends 'base.html.twig' %}

{% block title %} Tous les animaux | Arcadia Zoo{% endblock %}

{% block body %}
<div class="animal-container p-5">
    <h1 class="large-font englebert-regular blue text-center green">Tous nos animaux</h1>
    <div class="green-separator mb-5"></div>
</div>

{% endblock %}
