{% extends 'base.html.twig' %}

{% block title %}Venir au parc | Zoo de Brocéliande{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-6 hidden">
            <img src="{{asset('images/animal/suricat.jpg')}}" alt="suricat" class="medium-circle">
        </div>
    
    <div class="col-lg-6 col-xs-12">
        <h1 class="mt-5 text-center large-font englebert-regular">Venir au parc</h1>

        <h3 class="medium-font fw-bold yellow">Adresse</h3>
        <p class="fw-bold dark-blue small-font">Domaine du Faubourg</p>
        <p class="fw-bold dark-blue small-font">35380 Paimpont</p>

        <h3 class="medium-font fw-bold yellow">En voiture</h3>
        <p class="small-font dark-blue"><span class="fw-bold">A11 :</span> sortie 10-Prte de Lorient</p>

        <h3 class="medium-font fw-bold yellow">En transport</h3>
        <p class="small-font dark-blue"><span class="fw-bold">En avion :</span> Aéroport de Renne Bretagne</p>
        <p class="small-font dark-blue"><span class="fw-bold">En bus :</span> 1a arrêt Paimpon</p>
    </div>
    </div>
</div>

<h2 class="text-center mt-5 large-font englebert-regular">Localisation et Itinéraires</h2>
<div class="d-flex justify-content-center mx-2 mb-5">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=broc%C3%A9liande%20foret&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <a href="" class="btn btn-blue m-5">Je consulte les horaires</a>
</div>


{% endblock %}
