{% extends 'base.html.twig' %}

{% block title %}Les tarifs{% endblock %}

{% block body %}
<h1 class="text-center large-font englebert-regular light-blue mt-5">Billets et pass annuel</h1>
<div class="lightblue-separator mb-5"></div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="card m-2">
                <img class="card-img-top" src="{{asset('images/animal/lion2.jpg')}}" alt="lion">
                <div class="card-body">
                    <h5 class="card-title yellow">Billet 1 jour</h5>
                    <p class="card-tex fst-italic">Billet valade pour une journée</p>
                    <p class="card-text dark-blue">Adulte - 29€</p>
                    <p class="card-text dark-blue">Enfant (3-11 ans) - 16€</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card m-2">
                <img class="card-img-top" src="{{asset('images/animal/birds.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title yellow">Billet 2 jours</h5>
                    <p class="card-text fst-italic">Billet valable 2 jours consécutifs</p>
                    <p class="card-text dark-blue">Adulte - 40€</p>
                    <p class="card-text dark-blue">Enfant (3-11 ans) - 30€</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card m-2">
                <img class="card-img-top" src="{{asset('images/animal/monkey.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title yellow">Pass annuel</h5>
                    <p class="card-text fst-italic">Accès illimité au parc pendant 1 an !</p>
                    <p class="card-text dark-blue">Adulte - 120€</p>
                    <p class="card-text dark-blue">Enfant (3-11 ans) - 80€</p>
                </div>
            </div>
        </div>
    </div>
</div>



<p class="m-5"> <span class="fw-bold">Achat des billets :</span> Veuillez noter que les billets pour le zoo ne peuvent être achetés qu'à l'entrée du parc. Aucun billet n'est disponible en ligne ou par téléphone. Nous vous remercions de votre compréhension et avons hâte de vous accueillir bientôt !</p>

<p class="m-5"> <span class="fw-bold">Information importante : </span>Les billets pour les enfants de moins de 3 ans sont gratuits.</p>
{% endblock %}
