/* Home page */
.hero {
    position: relative;
    width: 100%;
    height: 83vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-image {
    position: relative;
    width: auto;
    height: 100vh;
    filter:brightness(80%);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 4rem;
}


/* Habitat setion */
.habitat-section {
    background: #112E31;
    background: linear-gradient(#364932, #0D2831);
}

.rectangle-container {
    height: 250px;
    display: flex;
    overflow: hidden;
}

.rectangle-container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}


/* Service section */
.service-section {
    background: #0D2831;
}

/* Review section */
.review-shape {
    background: #FFFF;
}

.comment-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/* Side panel */
.sidepanel {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #FFFF;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}


.sidepanel a:hover {
    color: #297f9c8e;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #297F9C;
    text-decoration: none;
    transition: 0.3s;
}

.hover-text {
    display:none;
}

.item:hover .hover-text {
    display: block;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 60%;
    font-size: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.hover-darken:hover img {
    display: inline-block;
    transition: transform 0.2s ease;
    filter: brightness(50%);
}

/* Media queries */
@media (max-width : 992px) and (orientation: portrait) {
    .hero-image {
        transform: translate(-25%, 0%);
    }
}

@media (min-width : 992px) {
    .review-shape {
        position:absolute;
        height: 800px;
        width: 500px;
        clip-path: polygon(2% 1%, 99% 0, 96% 70%, 75% 75%, 90% 94%, 33% 75%, 3% 74%);
    }

    .margin-large {
        margin-left:50px;
        margin-right:50px;
        margin-top:50px;
    }

    .rectangle-container img {
        width: 80vw;
    }
}
