.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

/* Media query */
@media (max-width: 992px) {
    .mapouter, .gmap_canvas, #gmap_canvas {
        width: 100%;
        height: auto;
    }

    #gmap_canvas {
        height: 300px; 
    }
}