/* Navbar */
.navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    height: 4em;
}

.nav-link {
    font-size: 1.5em;
    color:#8E9F88;
}

.nav-link:hover {
    color:#B5C9B0;
}

.dropdown-menu {
    border: 0px;
    background: #e6aeae;
}

.dropdown-item {
    color: white;
}

@media (min-width : 992px) {
    .nav-item, .dropdown-menu {
        margin-right: 20px;
    }
}

