.bg-review {
    height:80vh;
    position: fixed;
    bottom: 50px;
    right:0;
    filter: blur(3px) brightness(40%);
    z-index: -2;
}

.review-container {
    background: #ffffff91;
}