/* Body */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Components */
.patrick-hand {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.large-font {   
    font-size: 5em;
}

.medium-font {
    font-size: 3em;
}

.small-font {
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.btn-blue {
    font-size: 1.2em;
    background: rgb(36, 5, 95);
    border-radius: 25px;
    color:rgb(203, 191, 62);
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 5px;
}

.btn-blue:hover {
    transform: translateY(-2px);   
    background: rgb(36, 5, 95);
    color: rgb(203, 191, 62); 
}

.circle {
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    overflow: hidden;
}

/* Home page */
.hero {
    position: relative;
    width: 100%;
    height: 83vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    filter:brightness(80%);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.resize-img {
    width: 1000px;
    display: block; 
    margin: auto;
}

.habitat-img {
    margin-left: -100px;
    margin-top: -100px;
    transition: opacity 0.5s ease-out;
}

.habitat-section {
    display:flex;
    justify-content: space-evenly;
    background-image: url('../../images/bg/yellow-painting.jpg');
    background-size: cover;
    background-position: center;
}

.habitat-img:hover {
    opacity: calc(0.4);
    transition: 0.5s;
    transform: scale(1.1);
}

/* Navbar */
.navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    height: 4em;
}

.nav-link {
    font-size: 1.5em;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dropdown-menu {
    border: 0px;
    background: #e6aeae;
}

.dropdown-item {
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media screen and (width > 992px){
    .nav-item, .dropdown-menu {
        margin-right: 20px;
    }

    .nav-link.dropdown-toggle {
        white-space: normal;
        word-break: break-word;
    }

    .hidden {
        display:block;
    }
}


/* Footer */

footer {
    background: #162b1a;
}
