{% extends "base.html.twig" %}

{% block title %} Page non trouvée {% endblock %}

{% block body %}

<main class="container m-5">
    <section class="row h-50">
        <div class="col-12">
            <h1>Une erreur est survenue</h1>
            <p>Veuillez nous excuser pour la gêne occasionnée</p>
        </div>
    </section>
</main>
{% endblock %}