{% extends "base.html.twig" %}

{% block title %} Page non trouvée {% endblock %}

{% block body %}

<main class="container m-5">
    <section class="row h-50">
        <div class="col-12">
            <h1>Accès refusé</h1>
            <p>L'accès à cette page n'est pas autorisé</p>
        </div>
    </section>
</main>
{% endblock %}